@import url('./assets/fonts/fonts.css');
@import "tailwindcss";
@layer components {
  .btn-primary {
    @apply bg-black text-white font-semibold text-sm sm:text-base px-4 py-2 rounded hover:bg-gray-800 active:scale-95 transition-transform duration-200;
  }
}

html {
  scroll-behavior: smooth;
}

.scroll-offset {
  scroll-margin-top: 80px; /* Adjust to match your navbar height (70px + padding) */
}
body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}
