<<<<<<< HEAD
@import url('./assets/fonts/fonts.css');
@import "tailwindcss";
@layer components {
  .btn-primary {
    @apply bg-black text-white font-semibold text-sm sm:text-base px-4 py-2 rounded hover:bg-gray-800 active:scale-95 transition-transform duration-200;
  }
}

html {
  scroll-behavior: smooth;
}

.scroll-offset {
  scroll-margin-top: 80px; /* Adjust to match your navbar height (70px + padding) */
}
body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
>>>>>>> 55415b2c875d1e4de78bde9d61b9f00fc8255c9f
